.header-about {
  position: relative;
}

.header-bg {
  width: 4000px;
  position: absolute;
}

.header-about__title-svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header-about__pic {
  fill: rgba(52, 74, 71, .5);
  width: 1175.495px;
  height: 313.961px;
}

.soc_position_header-about {
  position: absolute;
  top: 30px;
  left: 20px;
}

.soc__pic_fill_header-about {
  fill: #fff;
}

.container_align_center {
  text-align: center;
}

.container_horisontal_center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.arrow-down {
  position: absolute;
  bottom: 90px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.arrow-down__pic{
  fill: #c5d4cf;
  width: 42.736px;
  height: 27.435px;
}

.main-about {
  position: relative;
  @extend %clearfix;
}

.triangle {
  width:100%;
  position: absolute;
  top: -144px;
}

.triangle-right {
  fill: #f4f5f0;
}

.triangle-left {
  fill: #ebefe1;
}

.main-about__left,
.main-about__right {
  float: left;
  width: 50%;
  position: relative;
  height: 100%;
}

.main-about__left {
  background-color: #ebefe1;
}

.main-about__title-svg {
  position: absolute;
  top: -60px;
  left: 50%;
  transform: translateX(-50%);
}

.main-about__pic {
  fill: #e2ebd0;
}

.main-about__container {
  margin: 0 auto;
  padding-left: 50px;
  padding-right: 50px;
}

.main-about__title {
  font-family: 'robotomedium', sans-serif;
  font-size: 44px;
  text-align: center;
  position: relative;
  margin-bottom: 30px;
  &:after {
    content: '';
    display: block;
    position: absolute;
    width: 90px;
    height: 3px;
    background-color: black;
    left: 50%;
    transform: translateX(-50%);
    top: 70px;
  }
}

.main-about__avatar {
  width: 390px;
  height: 390px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 40px;
}

.main-about__desc {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  color: #5e655d;
}

.main-about__desc_margin_bottom {
  margin-bottom: 50px;
}

.main-about__me {
  font-family: 'robotomedium', sans-serif;
  font-size: 32px;
  text-align: center;
  position: relative;
  color: #546056;
  margin-bottom: 50px;
  text-transform: uppercase;
  &:after {
    content: '';
    display: block;
    position: absolute;
    width: 90px;
    height: 3px;
    background-color: #546056;
    left: 50%;
    transform: translateX(-50%);
    top: 70px;
  }
}

.main-about__content {
  width: 400px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.main-about__right {
  background-color: #f4f5f0;
}

.main-about__can-do {
  width: 300px;
  font-family: 'robotomedium', sans-serif;
  font-size: 32px;
  text-align: center;
  position: relative;
  color: #546056;
  margin-bottom: 50px;
  text-transform: uppercase;
  left: 50%;
  transform: translateX(-50%);
  &:after {
    content: '';
    display: block;
    position: absolute;
    width: 90px;
    height: 3px;
    background-color: #546056;
    left: 50%;
    transform: translateX(-50%);
    top: 115px;
  }
}

.technology-type {

}

.technology-type__item {
  font-family: 'robotomedium', sans-serif;
  font-size: 22px;
  color: #546056;
  margin-bottom: 35px;
}

.technology {
  display: flex;
  justify-content: flex-start;
  margin-top: 15px;
}

.technology__item {
  margin-right: 35px;
  position: relative;
  &:last-child {
    margin-right: 0;
  }
}

.circle {
  fill: none;
  stroke-width: 20;
}
.circle-1 {
  stroke-dasharray: 346;
  stroke-dashoffset: 315;
  transition: all 1s;
}

.circle-2 {
  stroke-dasharray: 346;
  stroke-dashoffset: 287;
  transition: all 1s;
}

.circle-3 {
  stroke-dasharray: 346;
  stroke-dashoffset: 287;
  transition: all 1s;
}

.circle-4 {
  stroke-dasharray: 346;
  stroke-dashoffset: 145;
  transition: all 1s;
}

.circle-5 {
  stroke-dasharray: 346;
  stroke-dashoffset: 201;
  transition: all 1s;
}

.circle-6 {
  stroke-dasharray: 346;
  stroke-dashoffset: 114;
  transition: all 1s;
}

.circle-7 {
  stroke-dasharray: 346;
  stroke-dashoffset: 232;
  transition: all 1s;
}

.circle-8 {
  stroke-dasharray: 346;
  stroke-dashoffset: 287;
  transition: all 1s;
}

.circle-9 {
  stroke-dasharray: 346;
  stroke-dashoffset: 232;
  transition: all 1s;
}

.circle-10 {
  stroke-dasharray: 346;
  stroke-dashoffset: 232;
  transition: all 1s;
}

.technology__name {
  font-size: 15px;
  width: 64px;
  position: absolute;
  top: 59px;
  left: 38px;
  text-align: center;
  color: #78a165;
}

.map {
  position: relative;
}

.contact {
  width: 380px;
  background-color: rgba(229, 232, 223, .5);
  padding-top: 40px;
  padding-left: 65px;
  padding-bottom: 30px;
  padding-right: 65px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
}

.contact__title {
  width: 300px;
  font-family: 'robotomedium', sans-serif;
  font-size: 32px;
  text-align: center;
  position: relative;
  color: #546056;
  margin-bottom: 50px;
  text-transform: uppercase;
  left: 50%;
  transform: translateX(-50%);
  &:after {
    content: '';
    display: block;
    position: absolute;
    width: 90px;
    height: 3px;
    background-color: #546056;
    left: 50%;
    transform: translateX(-50%);
    top: 70px;
  }
}

.contacts__item {
  margin-bottom: 25px;
  &:last-child {
    margin-bottom: 0;
  }
}

.contacts__link {
  display: block;
}

.contacts__pic {
  display: inline-block;
  vertical-align: middle;
}

.contacts__svg {
  fill: #6f9c63;
}

.contacts__text {
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
}

.footer-about {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.footer-about__section {
  width: 33.333333%;
  box-sizing: border-box;
  padding: 30px;
  font-size: 18px;
  position: relative;

  &:after {
    content: '';
    display: block;
    position: absolute;
    height: 90px;
    width: 2px;
    top: 50%;
    right: 0;
    background-color: #69726f;
    transform: translateY(-50%);
  }

  &:last-child:after {
    display: none;
  }
}

.soc_align_left {
  justify-content: flex-start;
}

.soc_margin_top {
  margin-top: 15px;
}

.soc__item-about {
  margin-right: 30px;
  &:last-child {
    margin-right: 0;
  }
}

.footer-about_link {
  font-family: 'robotomedium', sans-serif;
  color: #fff;
  margin-right: 18px;
  &:last-child {
    margin-right: 0;
  }
}

.footer-about__desc {
  font-family: 'robotomedium', sans-serif;
  color: #e9eaec;
}

.footer-about__content {
  display: flex;
  background-color: rgba(67, 78, 74, .5);
}

.soc__pic-about {
  fill: #8c9895;
  &:hover {
    fill: #fff;
  }
}

.footer-about__text,
.footer-about__author {
  color: #b5b7b6;
}

.footer-about__container {
  background-color: #80a971;
  color: #e9eaec;
  padding-top: 5px;
  padding-bottom: 5px;
}