@charset "UTF-8";

html {
  line-height: 1.42;
}

html,
body {
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  color: inherit;
  cursor: pointer;
  background: transparent;
  text-decoration: none;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  box-sizing: border-box;
}

.section {
  min-height: 620px;
  height: 100vh;
}

.bg-forest {
  position: absolute;
  z-index: -1;
  transform: translate(-550px, -600px);
}

@import "font";
@import "components/soc";
@import "components/burger";
@import "components/modal";
@import "media/modal";
@import "mixins/technology";
@import "mixins/footer-main";
@import "index";
@import "media/index";
@import "about";
@import "media/about";
@import "blog";
@import "media/blog";
@import "work";
@import "media/work";