@charset "UTF-8";

html {
  line-height: 1.42;
}

html,
body {
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  color: inherit;
  cursor: pointer;
  background: transparent;
  text-decoration: none;
}

img {
  max-width: 100%;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.wrapper {
  min-width: 1200px;
  min-height: 100%;
  overflow: hidden;
}

.container {
  width: 1180px;
  margin: 0 auto;
  padding: 0 10px;
}

.section {
  min-height: 620px;
  height: 100vh;
}

%clearfix {
  &::after {
    content: '';
    display: block;
    clear: both;
  }
}

.font-water {
  background-size: cover;
  background-image: url("../img/water.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

@import "font";
@import "components/soc";
@import "components/burger";
@import "mixins/technology";
@import "mixins/footer-main";
@import "index";
@import "about";