.wrapper-blog {
  position: relative;
}

.header-blog {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.header-blog__title-svg {
  position: relative;
  left: 0;
  top: 35%;
}

.header-blog__content {
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.header-blog__pic {
  fill: rgba(81, 128, 110, .5);
  width: 302px;
  height: 208px;
}

.header-blog__avatar {
  border-radius: 50%;
  overflow: hidden;
  min-height: 140px;
}

.header-blog__img {
  width: 140px;
  height: 140px;
  vertical-align: middle;
}

.header-blog__title {
  color: #fff;
  font-family: sansus_webissimoregular, sans-serif;
  font-size: 63px;
  text-align: center;
  position: relative;
  margin-bottom: 30px;
  text-transform: uppercase;
  &:after {
    content: '';
    display: block;
    position: absolute;
    width: 90px;
    height: 3px;
    background-color: #fff;
    left: 50%;
    transform: translateX(-50%);
    top: 96px;
  }
}

.header-blog__desc {
  color: #fff;
  font-size: 16px;
  font-family: 'robotoregular', sans-serif;
  position: relative;
}

.blog-main {
  background-color: #fbf8f1;
  padding-bottom: 300px;
  display: flex;
}

.triangle_fill_white {
  fill: #fbf8f1;
}

.blog-main__left,
.blog-main__right{
  position: relative;
  height: 100vh;
}

.blog-main__left {
  width: 30%;
  padding-left: 70px;
  box-sizing: border-box;
}

.blog-main__right {
  overflow: auto;
}

.blog-main__click {
  display: none;
  position: absolute;
  background-color: rgba(99, 143, 86, 1);
  height: 50px;
  width: 50px;
  border-radius: 50%;
  right: -20px;
  cursor: pointer;
  z-index: 2;
}

.chapter {
  text-align: right;
  width: 70%;
  padding-top: 10px;
}

.chapter__item {
  color: #90988d;
  margin-bottom: 40px;
  font-family: 'robotomedium', sans-serif;
  position: relative;
  cursor: pointer;

  &_active {
    color: #479132;
    &:after {
      content: "";
      display: block;
      height: 40px;
      width: 3px;
      background-color: #479132;
      position: absolute;
      top: 50%;
      right: -15px;
      transform: translateY(-50%);
    }
  }
}

.blog-main__right {
  width: 70%;
}

.article {
  width: 90%;
}

.article__item:after {
  content: '';
  display: block;
  width: 100%;
  height: 5px;
  background-color: #ecebe4;
}

.article__item:last-child {
  &:after {
    display: none;
  }
}

.article__name {
  color: #55655a;
  font-family: 'robotomedium', sans-serif;
  font-size: 35px;
  margin-bottom: 25px;
}

.article__date {
  color: #8da981;
  margin-bottom: 25px;
  font-size: 16px;
  font-family: 'robotoregular', sans-serif;
}

.article__pic {
  max-width: 100%;
  max-height: 100%;
}

.article__img {
  margin-bottom: 25px;
}

.article__text {
  max-height: 200px;
  overflow: auto;
  color: #90988d;
  font-family: 'robotoregular', sans-serif;
  margin-bottom: 25px;
  font-size: 16px;
}

.chapter__name {
  font-size: 16px;
  font-family: 'robotobold', sans-serif;
}