.wrapper-hello {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  height: 100vh;
  position: relative;
}

.header-hello {
  display: flex;
  justify-content: flex-end;
  padding: 20px 20px 0 20px;
  width: 100%;
  box-sizing: border-box;
}

.header-hello__auth {
  display: block;
  padding: 15px 30px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 30px;

  &:hover {
    background-color: #4e8839;
    border-color: #4e8839;
  }
}

.header-hello__auth-btn {
  color: #fff;
  font-size: 16px;
  font-family: 'robotomedium', sans-serif;
}

.card {
  position: relative;
  min-width: 376px;
  min-height: 465px;
}

.main-hello {
  background-color: rgba(18, 38, 32, .6);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  transition: transform 1s;
  backface-visibility: hidden;
  position: absolute;
  width: 376px;
  height: 425px;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.card.effect-click.flipped .main-hello__front {
  transform: rotateY(-180deg);
}

.card.effect-click.flipped .main-hello__back {
  transform: rotateY(0);
}

.main-hello__back {
   transform: rotateY(-180deg);
}

.main-hello__content_padding_bottom {
  padding-bottom: 40px;
}

.main-hello__avatar {
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;
  margin-bottom: 20px;
}

.main-hello__pic {
  max-width: 100%;
  max-height: 100%;
  width: 140px;
  height: 140px;
  vertical-align: middle;
}

.main-hello__name {
  font-size: 28px;
  font-family: 'robotomedium', sans-serif;
  color: #fff;
}

.main-hello__description {
  color: #d1d6d4;
  font-size: 16px;
  font-family: 'robotoregular', sans-serif;
  margin-bottom: 30px;
  &:first-letter{
    text-transform: uppercase;
  }
}

.make-auth {
  font-size: 35px;
  font-family: 'sansus_webissimoregular', sans-serif;
  color: #fff;
  text-transform: uppercase;

  &:after {
    content: "";
    display: block;
    position: absolute;
    width: 90px;
    height: 3px;
    background-color: #fff;
    top: 21%;
    left: 50%;
    transform: translateX(-50%);
  }
}

.auth-form {
  text-align: center;
}

.auth-form__name-label,
.auth-form__email-label {
  display: block;
  position: relative;

  &:before {
    content: "";
    display: block;
    position: absolute;
    background-color: #f0efe9;
    height: 50px;
    width: 50px;
    border-radius: 30px 0 0 30px;
  }
}

.auth-form__login,
.auth-form__password {
  position: absolute;
  top: 20%;
  left: 5%;
  z-index: 2;
}

.auth-form__name,
.auth-form__name {
  border-radius: 30px;
  padding-left: 60px;
  padding-right: 60px;
  box-sizing: border-box;
  border: none;
  outline: none;
  margin-bottom: 20px;
}

.auth-form__name {
  width: 340px;
  height: 50px;
}

.checkbox-label {
  font-size: 16px;
  font-family: robotoregular, sans-serif;
  color: #bcc4c0;
  margin: 15px 0;
}

.radio-label {
  font-size: 16px;
  font-family: robotoregular, sans-serif;
  color: #bcc4c0;
  display: inline-block;
}

.form__radio-label {
  position: relative;
  margin-left: 40px;
  margin-right: 15px;
}

.form__radio-fake {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  top: 2px;
  left: -20px;
  cursor: pointer;

  &:after {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-radius: 50%;
    background-color: #6c9c5a;
    top: 4px;
    left: 4px;
  }
}

.form__radio-input,
.form__checkbox-input {
  display: none;
}

.form__radio-input:checked + .form__radio-fake + .radio-label {
  color: #6c9c5a;
}

.form__radio-input:checked + .form__radio-fake:after {
  width: 8px;
  height: 8px;
}

.form__checkbox-fake {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background-color: #fff;
  position: absolute;
  top: 2px;
  left: -20px;
  cursor: pointer;

  &:after {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    background-image: url("../img/check.svg");
    background-size: cover;
    top: 4px;
    left: 4px;
  }
}

.form__checkbox-input:checked + .form__checkbox-fake {
  background-color: #6c9c5a;
}

.form__checkbox-input:checked + .form__checkbox-fake:after {
  width: 8px;
  height: 8px;

}

.menu {
  font-size: 0;
}

.menu__item {
  display: inline-block;
}

.menu__link {
  padding: 15px 30px;
  display: inline-block;
  background-color: #618f54;
  font-family: 'robotomedium', sans-serif;
  color: #fff;
  font-size: 16px;
  &:first-letter{
    text-transform: uppercase;
  }
  &:hover {
    background-color: #4a8039;
  }
}

.menu__item_width_full {
  width: 100%;
  text-align: center;
  white-space: nowrap;
}

.menu__item_width_half {
  width: 50%;
}

.menu__link_width_half {
  width: 69%;
}

.menu__item + .menu__item {
  border-left: 2px solid #9fb99e;
}

.footer {
  margin-bottom: 40px;
}

.owner {
  font-size: 16px;
  font-family: 'robotoregular', sans-serif;
  color: #fff;
  text-align: center;
}
