/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-style_forest {
  background-image: url(../img/spriteJpg.jpg);
  background-position: 0px -2250px;
  width: 1500px;
  height: 1099px;
}
.icon-water-maps {
  background-image: url(../img/spriteJpg.jpg);
  background-position: 0px 0px;
  width: 4000px;
  height: 2250px;
}
.icon-water {
  background-image: url(../img/spriteJpg.jpg);
  background-position: -4000px 0px;
  width: 4000px;
  height: 2250px;
}
