div(class="arrow-down")
    a(class='arrow-down__link' href="#")
        svg(class="arrow-down__pic") <use xlink:href="assets/img/sprite.svg#portf_arrow_down"></use>
div(class="container container_align_center container_horisontal_center")
    div(class="about__avatar about__avatar__position_relative")
        img(class='about__pic', src='assets/img/avatar.jpg', alt='Avatar')
    div(class="header-about__name about__name__position_relative") Фёдоров Максим
    div(class="about__description about__description__position_relative") личный сайт веб разработчика