.modal
  header.modal__head
    a.modal__close-link
      svg(class="modal__close-pic") <use xlink:href="assets/img/sprite.svg#close"></use>
  section.modal__content
    h2.modal__title мои работы
    ul.modal__menu
      li.modal__item
        a.modal__link блог
      li.modal__item
        a.modal__link обо мне
      li.modal__item
        a.modal__link авторизация