ul(class="social")
  li(class="social__item")
    a(class="social__link", href="#")
      svg(class="social__pic social__pic_vk") <use xlink:href="assets/img/sprite.svg#vk"></use>
  li(class="social__item")
    a(class="social__link", href="#")
      svg(class="social__pic social__pic_github") <use xlink:href="assets/img/sprite.svg#github"></use>
  li(class="social__item")
    a(class="social__link", href="#")
      svg(class="social__pic social__pic_in") <use xlink:href="assets/img/sprite.svg#in"></use>