ul.social
  li.social__item
    a(href="#").social__link
      svg.social__pic.social__pic_vk <use xlink:href="assets/img/sprite.svg#vk"></use>
  li.social__item
    a(href="#").social__link
      svg.social__pic.social__pic_github <use xlink:href="assets/img/sprite.svg#github"></use>
  li.social__item
    a(href="#").social__link
      svg.social__pic.social__pic_in <use xlink:href="assets/img/sprite.svg#in"></use>