ul(class="soc soc_position_header-about")
    li(class="soc__item")
        a(class="soc__link", href="#")
            svg(class="soc__pic soc__pic_fill_header-about", width='32px', height='20px') <use xlink:href="assets/img/sprite.svg#vk"></use>
    li(class="soc__item")
        a(class="soc__link", href="#")
            svg(class="soc__pic soc__pic_fill_header-about" width='30px' height='24px') <use xlink:href="assets/img/sprite.svg#github"></use>
    li(class="soc__item")
        a(class="soc__link", href="#")
            svg(class="soc__pic soc__pic_fill_header-about" width='25px' height='23px') <use xlink:href="assets/img/sprite.svg#in"></use>