
.footer-about__section {
  width: 33.333333%;
  box-sizing: border-box;
  padding: 30px;
  position: relative;

  &:after {
    content: '';
    display: block;
    position: absolute;
    height: 90px;
    width: 2px;
    top: 50%;
    right: 0;
    background-color: #69726f;
    transform: translateY(-50%);
  }

  &:last-child:after {
    display: none;
  }
}

.soc_align_left {
  justify-content: flex-start;
}

.soc_margin_top {
  margin-top: 15px;
}

.soc__item-about {
  margin-right: 30px;
  &:last-child {
    margin-right: 0;
  }
}

.footer-about_link {
  font-family: 'robotomedium', sans-serif;
  color: #fff;
  margin-right: 16px;
  &:last-child {
    margin-right: 0;
  }
}

.footer-about__desc {
  font-family: 'robotolight', sans-serif;
  color: #e9eaec;
  font-size: 16px;
}

.footer-about__content {
  display: flex;
  background-color: rgba(55, 62, 66, 0.851);
}

.soc__pic-about {
  fill: #8c9895;
  &:hover {
    fill: #fff;
  }
}

.footer-about__text,
.footer-about__author {
  color: #b5b7b6;
  font-size: 16px;
}

.footer-about__text {
  font-family: 'robotolight_italic', sans-serif;
}

.footer-about__author {
  font-family: 'robotomedium_italic', sans-serif;
}