.modal {
  display: none;
  background-color: rgba(99, 143, 86, .7);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
}

.modal__head {
  text-align: right;
  padding: 30px 30px 0 0;
  margin-bottom: 190px;
}

.modal__close-link {
  display: inline-block;
}

.modal__close-pic {
  height: 37px;
  width: 37px;
  fill: #fff;
}

.modal__title,
.modal__item {
  font-size: 63px;
  font-family: 'sansus_webissimoregular', sans-serif;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  margin-bottom: 70px;
}

.modal__title {
  position: relative;
  &:after {
    content: "";
    display: block;
    position: absolute;
    width: 90px;
    height: 3px;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
  }
}