extends ../_template

include ../mixins/technology
include ../mixins/footer-main


block variables
  - var title = 'Обо мне'

block content
  body
    .wrapper.wrapper-about
      header.section.header-about
        img(src="assets/img/water.jpg").bg-forest
        .header-about__top
          ul.social
            li.social__item
              a(href="#").social__link
                svg.social__pic.social__pic_vk.social__pic_fill_header-about <use xlink:href="assets/img/sprite.svg#vk"></use>
            li.social__item
              a(href="#").social__link
                svg.social__pic.social__pic_github.social__pic_fill_header-about <use xlink:href="assets/img/sprite.svg#github"></use>
            li.social__item
              a(href="#").social__link
                svg.social__pic.social__pic_in.social__pic_fill_header-about <use xlink:href="assets/img/sprite.svg#in"></use>
          include ../common/burger
        .header-about__title-svg
          svg.header-about__svg <use xlink:href="assets/img/sprite.svg#portfolio_header"></use>
        .header-about__main
          .header-about__avatar
            img(src='assets/img/avatar.jpg', alt='Avatar').header-about__pic
          .header-about__name Фёдоров Максим
          .header-about__description личный сайт веб разработчика
        a.arrow-down
          svg.arrow-down__pic <use xlink:href="assets/img/sprite.svg#portf_arrow_down"></use>
        svg(viewbox="0 0 1000 185", preserveaspectratio="none").triangle
          polygon(points="0,0 0,186 500.8,186 500.8,75.5").triangle-left
          polygon(points="1000,0 1000,186 500,186 500,75.5").triangle-right
      section.main-about
        .main-about__left
          .main-about__title-svg
            svg.main-about__pic <use xlink:href="assets/img/sprite.svg#about_header"></use>
          .main-about__container
            h1.main-about__title ОБО МНЕ
            .main-about__avatar
              img(src='assets/img/avatar.jpg', alt='Avatar').main-about__img
            h3.main-about__me КТО Я
            .main-about__content
              p.main-about__desc Я веб разработчик из Новосибирска. Мне 27 лет. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
              p.main-about__desc Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
        .main-about__right
          .main-about__container
            h3.main-about__can-do чем я могу быть вам полезен
            .main-about__content
              p.main-about__desc Больше всего меня привлекет Frontend разработка, но я также знаком и могу решать не сложные задачи на Backend. Но давайте по порядку.
              ul.technology-type
                li.technology-type__item Frontend
                  ul.technology
                    +knoledge("circle-1", "#74a264", "rotate(-123 70 70)", "HTML5")
                    +knoledge("circle-2", "#74a264", "rotate(-153 70 70)", "CSS3")
                    +knoledge("circle-3", "#74a264", "rotate(-153 70 70)", "JavaScript & jQuery")
                li.technology-type__item Backend
                  ul.technology
                    +knoledge("circle-4", "#b2c2a5", "rotate(60 70 70)", "PHP")
                    +knoledge("circle-5", "#a0b991", "rotate(118 70 70)", "MySQL")
                    +knoledge("circle-6", "#b2c2a5", "rotate(30 70 70)", "Node.js & npm")
                    +knoledge("circle-7", "#9bb68b", "rotate(152 70 70)", "Mongo.db")
                li.technology-type__item WorkFlow
                  ul.technology
                    +knoledge("circle-8", "#78a165", "rotate(-153 70 70)", "Git")
                    +knoledge("circle-9", "#8aac7a", "rotate(152 70 70)", "Gulp")
                    +knoledge("circle-9", "#9cb78c", "rotate(152 70 70)", "Bower")
      section.section.map
        .contact
          h3.contact__title контакты
          ul.contacts__list
            li.contacts__item
              a(href="#").contacts__link
                .contacts__pic
                  svg.contacts__svg.contacts__svg_sk <use xlink:href="assets/img/sprite.svg#skype"></use>
                .contacts__text skype_kdn
            li.contacts__item
              a(href="#").contacts__link
                .contacts__pic
                  svg.contacts__svg.contacts__svg_mail <use xlink:href="assets/img/sprite.svg#envelope"></use>
                .contacts__text astahov@gmail.com
            li.contacts__item
              a(href="#").contacts__link
                .contacts__pic
                  svg.contacts__svg.contacts__svg_phone <use xlink:href="assets/img/sprite.svg#phone"></use>
                .contacts__text +7 931 200 93 24
            li.contacts__item
              a(href="#").contacts__link
                .contacts__pic
                  svg.contacts__svg.contacts__svg_address <use xlink:href="assets/img/sprite.svg#map_marker"></use>
                .contacts__text Новосиборск, ул. Инская, д. 4
      +footer-main
    include ../common/modal
    script(src='/assets/js/app.js' defer)
