extends ../_template

include ../mixins/footer-main

block variables
    - var title = 'Блог'

block content
    body
        div.wrapper.wrapper-blog
            header.section.header-blog
                img(src="assets/img/water.jpg").bg-forest
                .header-about__top
                    ul.social
                        li.social__item
                            a(href="#").social__link
                                svg.social__pic.social__pic_vk.social__pic_fill_header-about <use xlink:href="assets/img/sprite.svg#vk"></use>
                        li.social__item
                            a(href="#").social__link
                                svg.social__pic.social__pic_github.social__pic_fill_header-about <use xlink:href="assets/img/sprite.svg#github"></use>
                        li.social__item
                            a(href="#").social__link
                                svg.social__pic.social__pic_in.social__pic_fill_header-about <use xlink:href="assets/img/sprite.svg#in"></use>
                    include ../common/burger
                .header-blog__title-svg
                    svg.header-blog__pic <use xlink:href="assets/img/sprite.svg#blog_header"></use>
                .header-blog__content
                    .header-blog__avatar
                        img(src='assets/img/avatar.jpg', alt='Avatar').header-blog__img
                    h1.header-blog__title блог
                    p.header-blog__desc Статьи, которые я написал
                a.arrow-down
                    svg.arrow-down__pic <use xlink:href="assets/img/sprite.svg#portf_arrow_down"></use>
                svg(viewbox="0 0 1000 185", preserveaspectratio="none").triangle
                    polygon(points="0,0 0,186 500.8,186 500.8,75.5").triangle-left.triangle_fill_white
                    polygon(points="1000,0 1000,186 500,186 500,75.5").triangle-right.triangle_fill_white
            section(class="blog-main")
                div(class="blog-main__left")
                    .blog-main__click
                    ul.chapter
                        li.chapter__item.chapter__item_active
                            p.chapter__name Самое важное в SASS
                        li.chapter__item
                            p.chapter__name Приёмы в вёрстке, без которых не обходится ни один сайт
                        li.chapter__item
                            p.chapter__name Самый необходимый набор Gulp плагинов
                        li.chapter__item
                            p.chapter__name Почему я выбрал Jade
                div(class="blog-main__right")
                    ul.article
                        li.article__item
                            h3.article__name Самое важное в SASS
                            p.article__date 22 ноября 2016
                            .article__text
                                p Второе. «Рио» получил массу «богатых» опций. Если старая машина оснащалась откровенно простенькой «музыкой» с дешевой «головой», то на новый можно поставить современную мультимедийную систему с 7-дюймовым экраном, которая поддерживает Apple CarPlay и Android Auto (причем навигация сможет строить маршруты, учитывая пробки в городе). Плюс будет камера заднего вида, система подсветки в поворотах. Мало того, «Рио» будет иметь версию с кожаным салоном и даже с подогревом заднего (!) дивана.
                                p Третье. Среди электронных помощников: система стабилизации, контроль за давлением в шинах и помощь на подъеме. Одной из электронных «фишек» станет система помощи при открытии багажника. Водитель должен подойти к машине с ключом в кармане, постоять пару секунд и крышка сама распахнется.
                            div.article__img
                                img(src="assets/img/code.png").article__pic
                        li.article__item
                            h3.article__name Приёмы в вёрстке, без которых не обходится ни один сайт
                            p.article__date 13 ноября 2016
                            .article__text
                                p Начнем с теории — и сразу оговоримся, что будем давать ее в очень упрощенном виде, иначе статья вырастет до совсем уж неприличных размеров. Блокчейн — по сути огромная база данных, которая одновременно хранится на тысячах компьютеров по всему миру. В случае с электронными деньгами в блокчейне размещена информация обо всех операциях, которые когда-либо происходили с этой валютой — кто, когда, кому и сколько перевел. Считается, что взломать организованную таким образом базу данных, или даже просто несанкционированно извлечь из нее данные, очень сложно — ведь для этого надо получить доступ к тысячам компьютеров одновременно.
                                p Изобретателем блокчейна считается некто под псевдонимом Сатоси Накамото (не исключено, что это группа людей — реальная личность Сатоси так и не раскрыта), который в 2009 году запустил цифровую валюту биткоин. Вслед за Сатоси были созданы сотни аналогов биткоина. Кроме того, технология блокчейна не ограничивается цифровыми деньгами — таким образом можно организовать любую цифровую базу данных, вплоть до результатов выборов или реестра земельных участков.
                        li.article__item
                            h3.article__name Самый необходимый набор Gulp плагинов
                            p.article__date 13 ноября 2016
                            .article__text
                                p Начнем с теории — и сразу оговоримся, что будем давать ее в очень упрощенном виде, иначе статья вырастет до совсем уж неприличных размеров. Блокчейн — по сути огромная база данных, которая одновременно хранится на тысячах компьютеров по всему миру. В случае с электронными деньгами в блокчейне размещена информация обо всех операциях, которые когда-либо происходили с этой валютой — кто, когда, кому и сколько перевел. Считается, что взломать организованную таким образом базу данных, или даже просто несанкционированно извлечь из нее данные, очень сложно — ведь для этого надо получить доступ к тысячам компьютеров одновременно.
                                p Изобретателем блокчейна считается некто под псевдонимом Сатоси Накамото (не исключено, что это группа людей — реальная личность Сатоси так и не раскрыта), который в 2009 году запустил цифровую валюту биткоин. Вслед за Сатоси были созданы сотни аналогов биткоина. Кроме того, технология блокчейна не ограничивается цифровыми деньгами — таким образом можно организовать любую цифровую базу данных, вплоть до результатов выборов или реестра земельных участков.
                        li.article__item
                            h3.article__name Почему я выбрал Jade
                            p.article__date 13 ноября 2016
                            .article__text
                                p Начнем с теории — и сразу оговоримся, что будем давать ее в очень упрощенном виде, иначе статья вырастет до совсем уж неприличных размеров. Блокчейн — по сути огромная база данных, которая одновременно хранится на тысячах компьютеров по всему миру. В случае с электронными деньгами в блокчейне размещена информация обо всех операциях, которые когда-либо происходили с этой валютой — кто, когда, кому и сколько перевел. Считается, что взломать организованную таким образом базу данных, или даже просто несанкционированно извлечь из нее данные, очень сложно — ведь для этого надо получить доступ к тысячам компьютеров одновременно.
                                p Изобретателем блокчейна считается некто под псевдонимом Сатоси Накамото (не исключено, что это группа людей — реальная личность Сатоси так и не раскрыта), который в 2009 году запустил цифровую валюту биткоин. Вслед за Сатоси были созданы сотни аналогов биткоина. Кроме того, технология блокчейна не ограничивается цифровыми деньгами — таким образом можно организовать любую цифровую базу данных, вплоть до результатов выборов или реестра земельных участков.
            +footer-main
            include ../common/modal
        include ../common/preloader
        script(src='/assets/js/app.js' defer)