extends ../_template

block variables
  - var title = 'Страница приветствия'

block content
  body(class='font-water')
    div(class="wrapper")
      section(class="section header")
        div(class="container container-align container_padding_right container_padding_top")
          a(class="header__auth", href="#") авторизироваться

      section(class="about")
        div(class="container container_width")
          div(class="about__content about__content_padding_bottom")
            div(class="about__avatar")
              img(class='about__pic', src='assets/img/avatar.jpg', alt='Avatar')
            div(class="about__name") Фёдоров Максим
            div(class="about__description about__description_margin_bottom") личный сайт веб разработчика
            include ../common/soc
            div(class="buttons")
              a(class="buttons__link", href='#') мои работы
              a(class="buttons__link", href='#') обо мне
              a(class="buttons__link", href='#') блог

      section(class="footer")
        div(class="container")
          include ../common/footer-owner