extends ../_template

block variables
  - var title = 'Home page'

block content
  include ../common/_greating
  div(class="icon-viking")
  div(class="icon-work-1")
  div(class="icon-work-2")
  div(class="icon-work-3")
  div(class="icon-work-4")
  div(class="icon-cup")
  div(class="icon-forest_preloader")
  div(class="icon-style_forest")
  div(class="icon-water-maps")
  div(class="icon-water")