extends ../_template

block variables
  - var title = 'Страница приветствия'

block content
  body.font-water
    .wrapper-hello
      header.header-hello
        a(href="#").header-hello__auth
          span.header-hello__auth-btn Авторизироваться

      section.main-hello
        .main-hello__avatar
          img(src='assets/img/avatar.jpg', alt='Avatar').main-hello__pic
        .main-hello__name Фёдоров Максим
        .main-hello__description личный сайт веб разработчика
        ul.social
          li.social__item
            a(href="#").social__link
              svg.social__pic.social__pic_vk <use xlink:href="assets/img/sprite.svg#vk"></use>
          li.social__item
            a(href="#").social__link
              svg.social__pic.social__pic_github <use xlink:href="assets/img/sprite.svg#github"></use>
          li.social__item
            a(href="#").social__link
              svg.social__pic.social__pic_in <use xlink:href="assets/img/sprite.svg#in"></use>
        .buttons
          a(href='#').buttons__link мои работы
          a(href='#').buttons__link обо мне
          a(href='#').buttons__link блог

      footer.footer
          include ../common/footer-owner