@media screen and (max-width: 1200px) {
  .header-about__svg {
    width: 730px;
  }
}

@media screen and (max-width: 768px) {
  .header-about__title-svg {
    top: 60%;
  }

  .header-about__svg {
    width: 320px;
  }

  .main-about {
    flex-direction: column;
  }

  .triangle-right {
    fill: #ebefe1;
  }

  .main-about__left,
  .main-about__right {
    width: 100%;
  }

  .main-about__left {
    padding-bottom: 40px;
  }

  .main-about__title {
    font-size: 49px;
    &:after {
      top: 85px;
    }
  }

  .main-about__me {
    font-size: 30px;
  }

  .main-about__right {
    padding-top: 40px;
  }

  .main-about__can-do {
    font-size: 30px;
  }

  .footer-about__content {
    flex-wrap: wrap;
  }

  .footer-about__section {
    width: 50%;
    &:after {
      display: none;
    }
    &:last-child {
      width: 100%;
    }
  }

  .footer-about__desc,
  .footer-about_link,
  .footer-about__text,
  .owner {
    font-size: 14px;
  }

  .social {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 500px) {
  .contact {
    top: 35%;
  }

  .footer-about__section {
    width: 30%;
    padding: 5px;
  }
}

@media screen and (max-width: 320px) {
  //.wrapper-about {
  //  min-width: 320px;
  //}

  .header-about__svg {
    display: none;
  }

  .header-about__name {
    font-size: 21px;
  }

  .main-about__title {
    font-size: 35px;
    &:after {
      top: 70px;
    }
  }

  .main-about__me {
    font-size: 21px;
    &:after {
      top: 50px;
    }
  }

  .main-about__can-do {
    font-size: 21px;
    &:after {
      top: 75px;
    }
  }

  .contact {
    top: 26%;
    box-sizing: border-box;
    width: 320px;
    padding: 39px 30px 39px 30px;
  }

  .footer-about__section {
    width: 100%;
    text-align: center;

    &:after {
      content: '';
      display: block;
      position: absolute;
      height: 2px;
      width: 90%;
      left: 50%;
      right: 0;
      background-color: #69726f;
      transform: translateX(-50%);
      margin: 5px 0;
      top: 92%;
    }

    &:last-child:after {
      display: none;
    }
  }

  .social {
    display: flex;
    justify-content: center;
  }
}